// Colors https://colorffy.com/light-theme-generator
$primary-base: #568eb0;
$primary-lighten1: #6a9ab9;
$primary-lighten2: #7ea6c1;
$primary-lighten3: #90b2ca;
$primary-lighten4: #a3bfd3;
$primary-lighten5: #b5cbdb;

$surface-base: #1c1c1c;
$surface-lighten1: #292929;
$surface-lighten2: #373737;
$surface-lighten3: #454545;
$surface-lighten4: #545454;
$surface-lighten5: #646464;

$border-color-darken: $surface-lighten3;
$border-color: $surface-lighten4;
$border-color-lighten: $surface-lighten5;

$font-color: #f1f1f1;
$link-color: $primary-lighten1;
$link-color-secondary: #5FC660;
