@use 'colors';

// Common UI elements
ul.token-input-list {
    background: colors.$surface-lighten1 !important;
}

.category-field-value-component:after {
    background: none !important;
}

// Buttons
a.action-dropdown, a.action-dropdown-stream-header {
    background-color: colors.$surface-lighten3 !important;
    border-color: colors.$border-color !important;
    color: colors.$font-color !important;
}

.action-dropdown-stream-header-wrapper, .action-dropdown-wrapper {
    background-color: colors.$surface-lighten3 !important;
    border-color: colors.$border-color !important;
    color: colors.$font-color !important;
}

// Forms, textareas, comment boxes
form label {
    &, em,
    &, strong {
        color: colors.$font-color !important;
    }
}

input {
    background-color: colors.$surface-lighten2 !important;
    color: colors.$font-color !important;
}

.comment-box {
    background-color: colors.$surface-lighten2 !important;
    border-color: colors.$border-color !important;
    color: colors.$font-color !important;

    textarea, .add-comment, .mentions-input-box {
        background-color: colors.$surface-lighten1 !important;
        border-color: colors.$border-color !important;
        color: colors.$font-color !important;
    }

    .add-comment:hover {
        border-color: colors.$border-color-lighten !important;
    }

    .question-item .bd .box {
        background: colors.$surface-lighten2 !important;
    }
}

.comment-box.realtime-layout {
    .comment, .show-all-comments {
        border-color: colors.$border-color !important;
    }
}

.summary-badge-list {
    .summary-badge {
        border-color: colors.$border-color !important;

        &.expanded {
            background-color: colors.$surface-lighten4 !important;
        }

        &.expanded > div.details {
            background-color: colors.$surface-lighten3 !important;

            .contact-field>strong {
                color: colors.$font-color !important;
            }
        }

        .email, .phone {
            color: colors.$font-color !important;
        }
    }

    .summary-badge.summary-badge-grey a.action-dropdown {
        background: colors.$surface-lighten2 !important;
    }
}


// Tables
.table {
    background-color: colors.$surface-lighten1 !important;
    border-color: colors.$surface-lighten3 !important;
}

.items-table {
    table tr.odd > td {
        background-color: colors.$surface-lighten4 !important;

    }

    table tr.even > td {
        background-color: colors.$surface-lighten3 !important;
    }

    .navigation-arrow.left, .navigation-arrow.right {
        background: colors.$surface-lighten1 !important;
    }
}

// Dialogs, overlays, modals
.side-tab-box .navigation ul > li {
    background: colors.$surface-lighten1 !important;

    &.selected {
        background: colors.$surface-lighten2 !important;
    }
}

.simple-balloon {
    background-color: colors.$surface-lighten2 !important;
    border-color: colors.$border-color !important;
    color: colors.$font-color !important;

    li:hover {
        background-color: colors.$surface-lighten3 !important;
    }

    &.small-arrow::after {
        border-bottom-color: colors.$surface-lighten2 !important;
    }

    .navigation {
        background-color: colors.$surface-lighten1 !important;
        border-color: colors.$border-color !important;
        color: colors.$font-color !important;
    }
}

.podio-autocompleter ul {
    background: colors.$surface-lighten1 !important;
    border-color: colors.$border-color !important;

    > li, > li.empty, > li.group, > li.loading {
        background: colors.$surface-lighten2 !important;
        border-bottom-color: colors.$border-color !important;

        &.item:hover {
            background: colors.$surface-lighten4 !important;
        }
    }
}

// File uploader dialog
.file-finder .content {
    &, .file-finder-content > .navigation ul.tabs li.selected,
    &, .file-finder-content .inner,
    &, .account-tip,
    &, .podio-uploader-box.multi-file {
        background: colors.$surface-lighten2 !important;
        border-color: colors.$border-color !important;
        color: colors.$font-color !important;
    }

    .file-finder-content > .navigation,
    .file-finder-content > .navigation ul.tabs li,
    .providers-matrix .providers li:hover,
    .footer {
        background: colors.$surface-lighten1 !important;
        border-color: colors.$border-color !important;
        color: colors.$font-color !important;
    }
}

.form-embed-actions .action-box {
    &, input {
        background-color: colors.$surface-lighten2 !important;
        border-color: colors.$border-color !important;
        color: colors.$font-color !important;
    }

    .podio-uploader-box .button-wrapper {
        background-color: colors.$surface-lighten2 !important;
        border-color: colors.$surface-lighten3 !important;
        color: colors.$font-color !important;

        .button-new.secondary {
            background-color: colors.$surface-lighten3 !important;
        }

        .files-drag-tip {
            background-color: colors.$surface-lighten2 !important;
        }
    }

    .arrow-border {
        border-top-color: colors.$border-color !important;
    }
}
