// Colors https://colorffy.com/light-theme-generator
$primary-base: #568eb0;
$primary-lighten1: #6a9ab9;
$primary-lighten2: #7ea6c1;
$primary-lighten3: #90b2ca;
$primary-lighten4: #a3bfd3;
$primary-lighten5: #b5cbdb;

$surface-base: #1c1c1c;
$surface-lighten1: #292929;
$surface-lighten2: #373737;
$surface-lighten3: #454545;
$surface-lighten4: #545454;
$surface-lighten5: #646464;

$border-color-darken: $surface-lighten3;
$border-color: $surface-lighten4;
$border-color-lighten: $surface-lighten5;

$font-color: #f1f1f1;
$link-color: $primary-lighten1;
$link-color-secondary: #5FC660;

// Styles

// Text and fonts
h1, h2, h3, h4, h5, p {
    color: $font-color !important;
}

a:active, a:link, a:visited {
    color: $link-color !important;
}

#stream .object .body .reference .bd {
    .by,  .created-by,  .created-on,  .ref-type a,  .via {
        color: $font-color !important;
    }

    .space {
        color: $link-color-secondary !important;
    }
}

#stream .object .body ul.activities li a {
    color: $font-color !important;
}

.header-title {
    color: $font-color !important;

    >a:active,
    >a:link,
    >a:visited {
        color: $font-color !important;
    }
}

.header-sub-title {
    color: $font-color !important;

    >a:active,
    >a:link,
    >a:visited, {
        color: $font-color !important;
    }
}

.sub-navigation .tabs ul {
    li h5 {
        color: $font-color !important;

        >a:active,
        >a:link,
        >a:visited {
            color: $font-color !important;
        }
    }
}

// Common UI elements
ul.token-input-list {
    background: $surface-lighten1 !important;
}

// Forms
form label {
    &, em,
    &, strong {
        color: $font-color !important;
    }
}

// Dialogs & overlays
.side-tab-box .navigation ul > li {
    background: $surface-lighten1 !important;

    &.selected {
        background: $surface-lighten2 !important;
    }
}

.simple-balloon {
    background-color: $surface-lighten2 !important;
    border-color: $border-color !important;
    color: $font-color !important;

    li:hover {
        background-color: $surface-lighten3 !important;
    }

    &.small-arrow::after {
        border-bottom-color: $surface-lighten2 !important;
    }

    .navigation {
        background-color: $surface-lighten1 !important;
        border-color: $border-color !important;
        color: $font-color !important;
    }
}

// File uploader dialog
.file-finder .content {
    &, .file-finder-content > .navigation ul.tabs li.selected,
    &, .file-finder-content .inner,
    &, .account-tip,
    &, .podio-uploader-box.multi-file {
        background: $surface-lighten2 !important;
        border-color: $border-color !important;
        color: $font-color !important;
    }

    .file-finder-content > .navigation,
    .file-finder-content > .navigation ul.tabs li,
    .providers-matrix .providers li:hover,
    .footer {
        background: $surface-lighten1 !important;
        border-color: $border-color !important;
        color: $font-color !important;
    }
}

.form-embed-actions .action-box {
    &, input {
        background-color: $surface-lighten2 !important;
        border-color: $border-color !important;
        color: $font-color !important;
    }

    .podio-uploader-box .button-wrapper {
        background-color: $surface-lighten2 !important;
        border-color: $surface-lighten3 !important;
        color: $font-color !important;

        .button-new.secondary {
            background-color: $surface-lighten3 !important;
        }

        .files-drag-tip {
            background-color: $surface-lighten2 !important;
        }
    }

    .arrow-border {
        border-top-color: $border-color !important;
    }
}

// Buttons
.button-new.primary {
    color: $font-color !important;
}

// Page Content
html, body {
    background-color: $surface-base !important;
    color: $font-color;
}

// Header
#header-global {
    .PodioUI__Notifications {
        background-color: $surface-lighten1 !important;
        border-color: $border-color !important;
        color: $font-color !important;

        .PodioUI__Notifications__list {
            a.PodioUI__Notifications__NotificationGroup:hover {
                background-color: $surface-lighten3 !important;
            }
        }

        div {
            color: $font-color !important;
        }

        > div:last-child {
            background-color: $surface-lighten3 !important;
        }
    }
}

// Subnav
.secondary-header.subnav {
    #space-navigation {
        border-bottom: none !important;

        ul.app-nav {
            li {
                .title {
                    color: $surface-lighten5 !important;
                }
            }

            li.active, li:hover {
                .icon {
                    filter: invert(1) brightness(75%) grayscale(1);
                }

                .title {
                    color: $font-color !important;
                }
            }
        }
    }
}

// Dashboard Main
.main-content {
    border-color: $border-color !important;
    color: $font-color !important;

    #home_stream, #space_stream, #stream,
    .promotion-banner .wrapper .text,
    .grid-tile {
        background-color: $surface-lighten1 !important;
    }

    #stream_composer,
    #stream .object {
        background-color: $surface-lighten1 !important;
        border-color: $border-color !important;
    }

    #stream .show-more {
        background-color: $surface-lighten2 !important;
        border-color: $border-color-darken !important;
    }

    .gridster-block {
        background-color: $surface-lighten1 !important;

        ul.content li .inner {
            border-color: $border-color !important;

            .variable-right {
                background: transparent !important;
            }
        }
    }

    .gridster-widget {
        background-color: $surface-lighten1 !important;

        .header .actions {
            background-image: none !important;
        }

        .header h5,
        .no-footer {
            background-color: $surface-lighten1 !important;
        }

        .footer {
            background-color: $surface-lighten1 !important;
            border-bottom-color: $surface-lighten1 !important;
        }
    }

    .gridster-widget.overflowing {
        .footer .overflow {
            background: $border-color !important;
        }
    }

    // Add widget button
    .addWidget-wrapper .addWidget {
        // The button border
        background-color: $surface-lighten1 !important;

        &:hover {
            background-color: $surface-lighten2 !important;
        }

        .add-widget-wrapper {
            background-color: $surface-base !important;

            .centered {
                color: $font-color !important;
            }
        }
    }

    // Text fields
    #stream_composer form textarea {
        color: $font-color !important;
    }

    .comment-box {
        background-color: $surface-lighten2 !important;
        border-color: $border-color !important;
        color: $font-color !important;

        textarea, .add-comment, .mentions-input-box {
            background-color: $surface-lighten1 !important;
            border-color: $border-color !important;
            color: $font-color !important;
        }

        .add-comment:hover {
            border-color: $border-color-lighten !important;
        }
    }

    .comment-box.realtime-layout {
        .comment, .show-all-comments {
            border-color: $border-color !important;
        }
    }

    // Buttons & Inputs

    // Icons
    .sprite-icon {
        filter: brightness(150%) !important;
    }

    // Other
    #home_stream .stream-unread-badge,
    #space_stream .stream-unread-badge {
        background-color: $surface-lighten3 !important;
        border-color: $border-color-lighten !important;
    }
}

// Tables
.table {
    background-color: $surface-lighten1 !important;
    border-color: $surface-lighten3 !important;
}

.items-table {
    table tr.odd > td {
        background-color: $surface-lighten4 !important;

    }

    table tr.even > td {
        background-color: $surface-lighten3 !important;
    }

    .navigation-arrow.left, .navigation-arrow.right {
        background: $surface-lighten1 !important;
    }
}

// App View
.app-view {
    .app-view__sidebar {
        background-color: $surface-lighten1 !important;

        > .app-sidebar-new {
            background-color: $surface-lighten1 !important;
            border-color: $border-color !important;
            color: $font-color !important;

            .app-sidebar-new__current-views {
                color: $font-color !important;
            }
        }

        .app-view-component.is-selected {
            > a {
                .body, .img-ext {
                    background-color: $surface-lighten3 !important;
                    border-color: $border-color !important;
                    color: $font-color !important;
                }
            }
        }
    }

    .app-view__content {
        background-color: $surface-lighten1 !important;
        border-color: $border-color !important;
        color: $font-color !important;

        .reporting-composer-wrapper {
            border-color: $border-color !important;
        }

        main.items-list {
            background-color: $surface-lighten1 !important;

            .items-table .navigation-bar {
                background-color: $surface-lighten1 !important;
                border-color: $border-color !important;
            }

            .items-table table {
                background-color: $surface-lighten1 !important;
                border-color: $border-color !important;

                thead tr th,
                thead tr th.retina {
                    background-color: $surface-lighten1 !important;
                    border-color: $border-color !important;
                }

                tr > td {
                    border-color: $border-color !important;
                }

                tr.odd > td {
                    background-color: $surface-lighten2 !important;
                }

                tr.even > td {
                    background-color: $surface-lighten1 !important;
                 }
            }
        }

        footer {
            &, a {
                background-color: $surface-lighten2 !important;
                border-color: $border-color !important;
            }
        }

        .toggle-items-link {
            background-color: $surface-lighten1 !important;
            border-color: $border-color !important;
            border-right-color: $surface-lighten1 !important;
            color: $font-color !important;
        }
    }
}

// App item
.content-overlay.background {
    background-color: $surface-base !important;
}

.items-section .body {
    .item-topbar {
        background-color: $surface-lighten1 !important;
        border-color: $border-color !important;
        color: $font-color !important;

        .breadcrumb:after {
            background: transparent !important;
        }
    }

    section.item-content {
        ul:not(.help-text-trigger) > li,
        ul.help-text-trigger > li:not(.selected):not(:hover),
        .field-label,
        .placeholder-row {
            background-color: $surface-lighten1 !important;
            border-color: $border-color !important;
            color: $font-color !important;
        }

        ul > li > .frame-wrapper > .frame-label,
        ul > li.has-error > .frame-wrapper > .frame-content,
        .placeholder-row > .field-label,
        .metadata-row {
            background-color: $surface-lighten2 !important;
            border-color: $border-color !important;
            color: $font-color !important;
        }

        ul > li:not(.category-field):not(.calculation-field):not(.image-field):not(.separator-field).can-update {
            .frame-content {
                .value.view-mode:hover {
                    &, .contact-card.user:hover {
                        background-color: $surface-lighten2 !important;
                    }
                }

                .value.no-hover-effect:hover {
                    background-color: inherit !important;
                    cursor: default !important;
                }
            }
        }

        .value.edit-mode > input {
            color: $font-color !important;
        }

        .relationship-badge-component {
            background-color: $surface-lighten1 !important;
            border-color: $border-color !important;
            color: $font-color !important;

            .relationship-badge-component__title,
            .relationship-badge-component__footer {
                background-color: $surface-lighten1 !important;
                border-color: $border-color !important;
                color: $font-color !important;
            }
        }
    }

    // Item create overlay footer
    .item-create-footer--content {
        background-color: $surface-lighten1 !important;
        border-color: $border-color !important;
        opacity: 0.7 !important;
    }
}


// Activity and comments right sidebar
.items-section .item-activity {
    &, .activity-header {
        background-color: $surface-lighten1 !important;
        border-color: $border-color !important;
        color: $font-color !important;
    }

    .composer-new {
        background-color: $surface-lighten2 !important;
        border-color: $border-color !important;
        color: $font-color !important;

        textarea {
            background-color: $surface-base !important;
            border-color: $border-color !important;
            color: $font-color !important;
        }
    }

    .activity-group-wrapper .pagination-nav {
        background-color: $surface-lighten2 !important ;
        color: $font-color !important;
    }
}

.app-breakdown-component__item .app-breakdown-component__link:focus,
.app-breakdown-component__item.is-selected:last-child>.app-breakdown-component__link,
.app-breakdown-component__item.is-selected>.app-breakdown-component__link,
.unsaved-app-view-bar-component {
    background-color: $surface-lighten1 !important;
    border-color: $border-color !important;
    color: $font-color !important;
}

// Space switcher sidebar
.space-switcher {
    .space-switcher-sidebar {
        &, .left-nav {
            background-color: $surface-lighten3 !important;
            border-color: $border-color !important;
            color: $font-color !important;

            .org-navigation > li {
                border-bottom-color: $border-color !important;
                border-top-color: $border-color !important;
            }

            .org-navigation ul.org-spaces li.regular-space.current > a {
                background-color: $surface-lighten2 !important;
                border-top-color: $border-color !important;
            }
        }
    }
}

// Notifications Page
body.notifications {
    .notification-content {
        .list {
            .top {
                background: $surface-lighten2 !important;
                border-color: $border-color !important;
            }
            .blank-slate {
                border-color: $border-color !important;
            }

            ul.list > li.group {
                border-color: $border-color !important;

                li.notification .inner .right {
                    .info .summary {
                        &, strong {
                            color: $font-color !important;
                        }
                    }
                }

                &:hover,
                &.expanded {
                    background-color: $surface-lighten2 !important;
                    border-color: $border-color !important;

                    li.notification.bundled {
                        border-color: $border-color !important;
                    }

                    li.notification .inner .right {
                        .info .summary {
                            &, strong {
                                color: $font-color !important;
                            }
                        }

                        .text-content {
                            background-color: $surface-lighten1 !important;
                            border-color: $border-color !important;
                        }
                    }
                }
            }

        }
    }

    .sidebar .notification-context {
        background-color: $surface-lighten1 !important;
        border-color: $border-color !important;

        .arrow {
            &, .arrow-border {
                border-right-color: $border-color !important;
            }
        }
    }
}

// Settings pages
.settings-box-container .settings-box.help {
    background-color: $surface-lighten3 !important;
    border-color: $border-color !important;
}

.account-settings .settings-box div.mail .status-verified {
    color: #171717 !important;
}

// Chat pane
.right-nav.chat-pane {
    &, input {
        background: $surface-lighten2 !important;
        border-color: $border-color !important;
    }

    .chat-main-wrapper {
        header.chat-details {
            border-bottom-color: $border-color !important;
        }

        #chat-people-container {
            .people-list {
                background: $surface-lighten2 !important;
                border-color: $border-color !important;

                li > .inner-item {
                    border-bottom-color: $border-color !important;
                }
            }

            .new-conversation > .inner-item {
                border-bottom-color: $border-color !important;
            }

            .people-list li:hover,
            .new-conversation:hover {
                background: $surface-lighten3 !important;
            }
        }

        .column.navigation {
            background: $surface-lighten1 !important;
            border-color: $border-color !important;
        }

        .show-conversation-container {
            &, .events-container {
                background: $surface-lighten2 !important;
                border-color: $border-color !important;
            }

            .events-container ul.events > li > div {
                border-left: 5px solid transparent;

                &.divider {
                    border-top-color: $border-color !important;

                    .divider-text {
                        background: $surface-lighten2 !important;
                    }
                }
            }

            .details .subject {
                border-bottom-color: $border-color !important;
            }

            .composer-new .mentions-input-box {
                background: $surface-lighten2 !important;

                textarea {
                    border-color: $border-color !important;
                    color: $font-color !important;
                }
            }
        }
    }
}
